body{
    margin: 0;
}
.main,.sidebar{
    text-align: center;
}
a{
    text-decoration: none;
}
.header{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
}
.header h2{
    width:77px;
    float: left;
    margin-bottom:0;
    margin-top: 11px;
}
.header ul{
    margin-left:78px;
}
.header li{
  float: left;
  margin-left: 16px;
  margin-top: 14px;
  list-style:none;
}
.main{
    background-color: green;  
    float: left; 
    width: 80%;
    height:600px;
}
.main h2{
    margin: 0;
   padding-top: 140px;
}
.one{
 background-color: red;
 height: 60%;  
 width: 100%; 
}
.two{
    background-color: beige;
    float: left;
    width: 33.33333333%;
    height:40%;

}
.two:nth-child(2){
background-color: blue;
}
.two:nth-child(3){
    background-color: black;
    color: beige;
    }
    .two:nth-child(4){
        background-color: blue;
        }

.sidebar{
    float: left;
    background-color: brown;
    height: 600px;
    width:20%;
}
.side{
    background-color: green;
    height:40%;
    width: 100%;
}
.si{
    height:20%;
    background-color: yellow;
    border: 1px black solid;
}
.footer{
    background-color: red;
    color: beige;
    height: 50px;
    width: 100%;
    float: left;
}