body{
    text-align: center;
    margin: 0;
    padding:0;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
p{
 padding:0px;
 margin: 0px;   
}

/*heading*/

.expolanation{
    background-color: brown;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-bottom:black solid 3px;


}


.visible{
    background-color: rgb(128, 31, 39);
}
.unvisible{
    display:none;
}


    /*screen*/
  .screen{
        min-height: 500px;
        border:black solid 1px;
        margin-bottom:5px;   
       }
       /*screen red*/
      .screenRed{
           min-height: 500px;
           border:black solid 1px;
           margin-bottom:5px;
           background-color: red;   
          }
           /*screen green*/
          .screenGreen{
           min-height: 500px;
           border:black solid 1px;
           margin-bottom:5px; 
           background-color: green;   
          }
            /*screen blue*/
        .screenBlue{
           min-height: 500px;
           border:black solid 1px;
           margin-bottom:5px;
           background-color: blue;   
          }
             /*screen yellow*/
        .screenYellow{
           min-height: 500px;
           border:black solid 1px;
           margin-bottom:5px;   
           background-color: yellow; 
          }

/*small device screen*/
@media(max-width:720px){

    #showcase{
        min-height:200px;
       max-height:225px;
    }
    #showcase h1,
    #showcase p{
margin-top:14px;
margin-bottom: 0;
padding:0;
font-size: 25px;
color:white;
    }
     #newslater h1,
    #newslater form,
    #newslater input[type="email"]
    {
      text-align: center; 
      font-size: 30px;
      float: none;
      width: 92%; 
      margin: auto;
    }
    #boxes .box{
        border:white solid 1px;
        width: 97%;
        margin:0;
    }
    #boxes .box img,
    #boxes .box h1,
    #boxes .box p{
        margin-top:7px;
        padding:0px;
    }
    .expolanation{
        font-size: 18px;
        text-align: center;
        padding-right: 37px;
    }
  
    /*screen*/
   .screen{
     min-height: 500px;
     border:black solid 1px;
     margin-bottom:5px;   
    }
    /*screen red*/
   .screenRed{
        min-height: 500px;
        border:black solid 1px;
        margin-bottom:5px;
        background-color: red;   
       }
        /*screen green*/
      .screenGreen{
        min-height: 500px;
        border:black solid 1px;
        margin-bottom:5px; 
        background-color: green;   
       }
         /*screen blue*/
       .screenBlue{
        min-height: 500px;
        border:black solid 1px;
        margin-bottom:5px;
        background-color: blue;   
       }
          /*screen yellow*/
       .screenYellow{
        min-height: 500px;
        border:black solid 1px;
        margin-bottom:5px;   
        background-color: yellow; 
       }
}

