
body{
    text-align: center;
    margin: 0;
    padding:0;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding:3px;
}
.navbar-toggle{
    float: none;
}
p{
 padding:0px;
 margin: 0px;   
}

/*heading*/



.visible{
    background-color: rgb(128, 31, 39);
}
.unvisible{
    display:none;
}


.anim{
    margin-top: 0px;
    padding-top: 0px;
   
}
/*row---------1*/
.sky1{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: grey;
    margin-top: 0px;
    padding-top: 0px;
   
}
/*row----------2*/
.sky2{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: grey;

}
/*row-----------3*/
.sky3{
    width: 100%;
    height: 150px;
  ;
    background-color: grey;
}
/*row-------------4*/
.sky4{
    width: 100%;
    height: 150px;
 
    background-color: grey;
}
   
 /*ball----------1*/   

.ball1{
position: relative;

left:0px;
height: 50px;
width:50px;
padding:auto;
line-height:55px;
margin:5px auto;
background-color:black;
color:white;
border-radius: 50px;
cursor: pointer;
animation: move 3s infinite;
}
 /*ball-----------2*/  
.ball2{
    position: relative;
    
    left:0px;
    height: 50px;
    width:50px;
    padding:auto;
    line-height:55px;
    margin:5px auto;
    background-color:black;
    color:white;
    border-radius: 50px;
    cursor: pointer;
    animation: move 3s infinite reverse;
    animation-delay:3s;
 
}
/*ball-----------------2*/  
    .ball3{
        position:relative;
        left:0px;
        height: 50px;
        width:50px;
        padding:auto;
        line-height:55px;
        margin:5px auto;
        background-color:black;
        color:white;
        border-radius: 50px;
        cursor: pointer;
        animation: move 3s infinite;
        animation-delay:6s;
        animation-direction: alternate-reverse;

 /*animation function*/   
}
@keyframes move{
    0%{transform:translateX(-300px)}
    100%{transform:translateX(600px)}
   
}



